startup --windows_enable_symlinks
# comment the following line if you are using bazel 5
common --enable_bzlmod

## no coverage support needed hence no jdk needed
# build --coverage_output_generator=//:null --coverage_report_generator=//:null --coverage_support=//:null
# Work around the sandbox issue.
build --spawn_strategy=local

build -c opt
build --enable_platform_specific_config

build --experimental_cc_implementation_deps

# Work around potential issues with large command lines on windows.
# See: https://github.com/bazelbuild/bazel/issues/5163
build:windows --features=compiler_param_file --enable_runfiles
build:windows --cpu=x64_windows
build:windows --output_filter="^注意\: 包含文件\:"
build:windows --output_filter="^cl\:.*warning D9025"

build:linux --compiler=clang --features=compiler_param_file
build:linux --repo_env=CC=clang --repo_env=CXX=clang++
build:linux --copt="-std=c++17"
# TODO: current LLVM on Windows and Mac has a bug that generated profraw is malformed.
build:coverage --copt "-fcoverage-mapping" --copt "-fprofile-instr-generate"
build:coverage --linkopt "-fcoverage-mapping" --linkopt "-fprofile-instr-generate"
build:lcov --copt "-fprofile-arcs" --copt "-ftest-coverage"
build:lcov --linkopt "--coverage"
## --crosstool_top option is no longer useful after bazel 7.0.0, it's only kept for bazel 5
build:bullseye --crosstool_top=@local_config_bullseye//:toolchain
build:icpx --crosstool_top=@local_config_icpx//:toolchain --copt="-Wno-macro-redefined" --copt="-Wno-builtin-macro-redefined"

# print error test logs
test --test_output=errors
